{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
